

<br>

<div class="alert alert-danger" ng-show="error">
    There was a problem logging in. Please try again.
</div>

<div class="container">
    <form role="form" ng-submit="controller.login()">

        <h2 class="sectionTitleDark">Please login to start with your blinch setup</h2>

        <div class="mc-field-group">
            <input type="text" class="required" id="username" placeholder="Email*" name="username" ng-model="controller.credentials.username"/>
        </div>

        <div class="mc-field-group">
            <input type="password" class="required" id="password" placeholder="Password*" name="password" ng-model="controller.credentials.password"/>
        </div>

        <div class="indicates-required" style="font-size:14px;"><span class="asterisk">*</span> indicates required</div>

        <button type="submit" class="button">Submit</button>
    </form>

</div>

<br>