


<div class="alert alert-danger" ng-show="error">
    There was a problem registering. Please try again.
</div>

<br><br>

<form role="form"  class="container" ng-submit="register.registration()">

    <div class="form-group">
        <input type="text" value="First Name*" class="form-control"
               id="name" name="name" id="username" ng-model="register.registrationData.firstName" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
    </div>
    <div class="form-group">
        <input type="text" value="Last Name*" class="form-control"
               id="lastname" name="lastname" ng-model="register.registrationData.lastName" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
    </div>
    <div class="form-group">
        <input type="text" value="Email*" class="form-control"
               id="email" name="email" ng-model="register.registrationData.emailAddress" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
    </div>
    <div class="form-group">
        <input type="text" value="Password*" class="form-control"
               id="password" name="password" ng-model="register.registrationData.password" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
    </div>
    <div class="form-group">
        <input type="text" value="Company*" class="form-control"
               id="company" name="company" ng-model="register.registrationData.company" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
    </div>


    <button type="submit" class="customButton">Submit</button>

</form>


