
<br><br>

<div class="alert alert-danger" ng-show="error">
    There was a problem registering. Please try again.
</div>

<br><br>

<form role="form"  class="container" ng-submit="register.registration()">

    <div class="form-group">
        <label for="name">Name:</label> <input type="text" class="form-control"
                                                       id="name" name="name" id="username" ng-model="register.registrationData.firstName"/>
    </div>
    <div class="form-group">
        <label for="lastname">Lastname:</label> <input type="text" class="form-control"
                                                       id="lastname" name="lastname" ng-model="register.registrationData.lastName"/>
    </div>
    <div class="form-group">
        <label for="email">Email:</label> <input type="text" class="form-control"
                                                       id="email" name="email" ng-model="register.registrationData.emailAddress"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label> <input type="password" class="form-control"
                                                       id="password" name="password" ng-model="register.registrationData.password"/>
    </div>
    <div class="form-group">
        <label for="password">Company:</label> <input type="text" class="form-control"
                                                       id="company" name="company" ng-model="register.registrationData.company"/>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<br>
