{
  "swagger": "2.0",
  "info": {
    "version": "0.1.0",
    "title": "blinch",
    "description": "The api for the blinch blind lunch product.\n"
  },
  "host": "blinchapp.com",
  "basePath": "/api",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/groups": {
      "get": {
        "description": "Gets `Person` objects.\nOptional query param of **size** determines\nsize of returned array\n",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "description": "Size of array",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "title": "ArrayOfPersons",
              "type": "array",
              "items": {
                "title": "Person",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "single": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers": {
      "get": {
        "summary": "List all Customers.",
        "description": "List all customers",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}